// Your custom styles
body {
    background: #ffffff !important;
}

.indigo {
    background-color: #041934!important;
}

.container-width {
    	max-width: 1200px;
	}
.footer-gd-0{
	background-color: #eeeeee !important;
}	

.footer-gd-1{
	background-color: #cccccc !important;
	padding-top: 0px !important;
	margin-top: 0px !important;
}	
.page-footer.footer-gd-1{
	padding-top: 0px !important;
	margin-top: 0px !important;
}

.footer-gd-1 a{
	color:#007bff;
}

footer.page-footer{
   color:#515151;
}

footer.page-footer a{
   color:#007bff;
}
.footer-gd-2{
	background-color:#061a35 !important;
	padding-top: 0px !important;
	margin-top: 0px !important;
}	
.page-footer.footer-gd-2{
	padding-top: 0px !important;
	margin-top: 0px !important;
}
.card-body-cascade p{
	margin-bottom:0px;
}
.card-title {
    margin-bottom: 0rem !important;
}
.card-list .col-md-4{
	margin-bottom:30px;
}
.card{
	border: 0px !important;
	-webkit-box-shadow: 0 0 0px 0 rgba(0, 0, 0, 0.16), 0 0 0px 0 rgba(0, 0, 0, 0.12) !important;
	    box-shadow: 0 0 0px 0 rgba(0, 0, 0, 0.16), 0 0 0px 0 rgba(0, 0, 0, 0.12) !important;
}
