.alert-success img{
    max-width: 100px;
}
.alert-success h4{
    font-family: Avenir-Heavy;
}
.alert-success p{
    font-family: Avenir-Book;
    font-size: 21px;
}
.alert-success .logo-success{
    padding: 15px 0px;
}
.alert-success .btn-start-search{
    padding: 9px 0px;
    font-size: 15px;
}
.alert-success .div-search{
    padding: 0px 37px 18px 37px;
}
.alert-success {
    padding: 15px;
    border-radius: 24px;
    position: absolute;
    top: 15%;
    left: 31%;
    width: 100%;
    max-width: 440px;
    min-height: 237px;
    background-color: #f8f9faf7;
    z-index: 2;
}

.alert-success-app {
    padding: 15px;
    border-radius: 24px;
    background-color: #f8f9faf7;
}