 .list-activity-booking  .cancel-reservation{
    color: rgb(251, 83 ,37);
    cursor: pointer;
    float: right;  
    }

  .list-activity-booking  .view-invoice{
       margin-top: 25px;
    }
 .list-activity-booking .col-img{
    padding-left: 0px;
 }
 .list-activity-booking .list-history{
 	opacity: 0.5;
    background: #ffffff8a;
 }